<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--  configuration 配置 -->
<configuration>
    <!-- 加载DB连接属性文件 -->
    <properties resource="jdbc.properties"/>
    <!-- 设置打印日志 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--        设置驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--增加分页插件 pageHelper5.0 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <!-- 数据库环境配置 -->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源 -->
            <dataSource type="POOLED">
                <!-- 驱动，路径，用户名，密码 -->
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 配置映射文件 -->
    <mappers>
        <!-- 注册映射文件 -->
        <!--   <mapper resource="com/xrq/mapper/AdminMapper.xml"/>    -->

        <!--
        以包的方式引入映射文件，但要满足两个条件
        1 mapper接口和映射文件所在的包必须一致
        注意:在maven的resource中以"com/zsn/mapper"方式创建目录
        2 mapper接口的名称和映射文件名字必须一致
        -->
        <package name="com.xrq.mapper"/>
    </mappers>
</configuration>