<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  使用mapper接口
  namespace : 与mapper接口同包同名
-->
<mapper namespace="com.xrq.mapper.ProfessionalTitlesMapper">


    <!-- 添加新职称，参数占位符：#{名}名必须与Student类中的属性名相同 -->
    <insert id="addProfessionalTitles">
        insert into professional_titles(id,title_name,description)
        values (#{id},#{titleName},#{description})
    </insert>

    <!-- 修改职称信息 -->
    <update id="changeTitles">
        update professional_titles
        set title_name = #{titleName},description =#{description}
        where id=#{id}
    </update>

    <!-- 根据编号查询员工信息
        如果参数仅有一个,则#{名}参数名没有要求
    -->
    <select id="selectAll" resultType="com.xrq.pojo.ProfessionalTitles">
        select *
        from professional_titles

    </select>

    <select id="selectById" resultType="com.xrq.pojo.ProfessionalTitles">
        select *
        from professional_titles
        where id=#{id}
    </select>

    <delete id="delTitles" >
        delete from professional_titles
        where id=#{id}
    </delete>



</mapper>